<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878659615910-u04me329irv9skaik2a81eaj3vj4jbvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878659615910-u04me329irv9skaik2a81eaj3vj4jbvg</string>
	<key>API_KEY</key>
	<string>AIzaSyBEmadnAC3RH8PLpDkpsW00P8ZxAhHVwq4</string>
	<key>GCM_SENDER_ID</key>
	<string>878659615910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrab</string>
	<key>PROJECT_ID</key>
	<string>qrab-7cc3e</string>
	<key>STORAGE_BUCKET</key>
	<string>qrab-7cc3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878659615910:ios:abb5ae2a7552aecc9a8867</string>
</dict>
</plist>